body {
  background-color: #333;
  color: #fff;
  font-family: Raleway;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-title {
  margin-top: 30px;
  text-align: center;
}

.typing-text {
  overflow: hidden;
  white-space: nowrap;
  font-size: 32px;
  margin: 30px auto;
  /* margin-top: 30px; */
  border: 2px solid transparent;
  border-right: 2px solid orange;
  animation: blink 0.5s step-end infinite,
    type 6s steps(29, end) 3s infinite backwards;
}

@keyframes blink {
  0%,
  100% {
    border-right: 2px solid transparent;
  }
  50% {
    border-right: 2px solid orange;
  }
}

@keyframes type {
  0%,
  100% {
    width: 0;
  }
  50% {
    width: 100%;
  }
}
