@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes animate {
  0% {
    transform: perspective(1000px) rotateX(0deg) rotate(25deg);
  }
  100% {
    transform: perspective(1000px) rotateX(360deg) rotate(25deg);
  }
}

.container .box {
  transform-style: preserve-3d;
  animation: animate 25s linear infinite;
}
.container .box span {
  position: absolute;
  color: white;
  font-size: 3.5em;
  white-space: nowrap;
  text-transform: uppercase;
  /* transform-style: preserve-3d; */
  line-height: 0.76em;
  font-weight: 900;
  transform: translate(-50%, -50%) rotateX(calc(var(--i) * 22.5deg))
    translateZ(105px);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.5),
    transparent
  );
}

.container .box span i:nth-child(1) {
  font-style: initial;
  color: #ff246f;
}
.container .box span i:nth-child(2) {
  font-style: initial;
  color: #12b5ff;
}
