* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#f00, rgba(0, 0, 0, 0.5)), url(wall.jpg);
  min-height: 100vh;
  background-size: cover;
  background-blend-mode: multiply;
  animation: animatedBg 3s linear infinite;
}
@keyframes animatedBg {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
} 
section::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  background: radial-gradient(rgba(255, 0, 0, 0.75), transparent, transparent);
  border-radius: 50%;
}
section::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  background: radial-gradient(rgba(255, 0, 0, 0.75), transparent, transparent);
  border-radius: 50%;
}

.icon {
  position: relative;
  width: 200px;
  height: 200px;
  z-index: 1;
}
.icon svg path {
  stroke: #fff;
  stroke-width: 10px;
  fill: transparent;
  filter: drop-shadow(0 20px 10px black) blur(2px);
}
