body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.spinner {
  width: 60px;
  height: 60px;
  margin: 10px 30px;
}

.circuler {
  border: 5px solid rgb(212, 210, 210);
  border-top: 5px solid rgb(34, 6, 161);
  border-bottom: 5px solid rgb(34, 6, 161);
  border-radius: 50%;
  animation: clockwise 1s linear infinite;
}

.growing {
  background-color: rgb(34, 6, 161);
  border-radius: 50%;
  animation: grow 0.7s linear infinite;
}

@keyframes grow {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* THird  */

.spinner-container {
  margin: 10px 30px;
}

.first,
.second,
.third {
  background-color: rgb(34, 6, 161);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 6px;
  animation: grow 1s linear infinite;
}

.second {
  animation-delay: 0.3s;
}
.third {
  animation-delay: 0.6s;
}

@keyframes grow {
  0%,
  100% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1);
  }
}

/* Squre */

.outer {
  width: 50px;
  height: 50px;
  border: 3px solid rgb(32, 6, 179);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: anticlockwise 2s linear infinite;
}
.inner {
  width: 25px;
  height: 25px;
  border: 3px solid rgb(32, 6, 179);
  animation: clockwise 4s linear infinite;
}

@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes anticlockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* Wave */
.wave {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
.wave span {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 6px;
  display: inline-block;
  margin-right: 6px;
  animation: stretch 1.5s ease-in-out infinite;
}

.wave span:nth-child(1) {
  animation-delay: 0.3s;
}
.wave span:nth-child(2) {
  animation-delay: 0.6s;
}
.wave span:nth-child(3) {
  animation-delay: 0.9s;
}
.wave span:nth-child(4) {
  animation-delay: 1.2s;
}
.wave span:nth-child(5) {
  animation-delay: 1.5s;
}

@keyframes stretch {
  0%,
  100% {
    height: 25px;
    /* transform: scaleY(1); */
  }
  50% {
    /* transform: scaleY(4); */
    height: 100px;
  }
}
