* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; */
}

.wrraper {
  display: flex;
}

.container {
  display: flex;
  margin: 50px 0;
  justify-content: center;
  color: white;
  font-size: 35px;
  font-family: cursive;
  font-weight: 900;
  width: 400px;
  transform-style: preserve-3d;
  transition: all 1s;
}

.front,
.back {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 17px;
  box-shadow: 4px 4px 8px #b7b7b7;
  backface-visibility: hidden;
}

.front {
  background: #152550;
}

.back {
  background-color: #9e2fa0;
  transform: rotateY(180deg);
  position: absolute;
}

.one:hover {
  transform: perspective(1000px) rotateY(-180deg);
  /* If perspective not giver in transform it should be define in parent element as style */
}

.two:hover {
  transform: perspective(1000px) rotateX(180deg);
}
.two .back {
  transform: perspective(1000px) rotateX(180deg);
}
.three:hover {
  transform: perspective(1000px) rotate3d(1, 1, 0, 180deg);
}
.three .back {
  transform: perspective(1000px) rotate3d(1, 1, 0, 180deg);
}
